.App .Cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.App .Tit {
    display: flex;
    justify-content: center;
    font-size: 29px;
    color: rgb(248, 247, 247);
    overflow: hidden;
    font-family: Fantasy, Helvetica, sans-serif;
    border-color: blanchedalmond;
    background-color: black;
    text-align: center;

}
.App .Titulo{
    overflow: hidden;
    flex-direction: column;
    max-width: 500px;
    min-width: 400px;
}
