body {
    font-family: Oswald;
    background-color: rgb(27, 177, 182);
    color: rgb(237, 243, 179);
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 200;
}

h2,
h3 {
    margin: 0;
}
